CATTLE_DB_CATTLE_MYSQL_HOST=db-master.{{ network_name }}
CATTLE_DB_CATTLE_MYSQL_PORT=3306
CATTLE_DB_CATTLE_MYSQL_NAME=rancher
CATTLE_DB_CATTLE_USERNAME=rancher
CATTLE_DB_CATTLE_PASSWORD={{ vault_mysql_rancher_password }}
