      %hr/
      %footer
        %p © Krzysztof Michalski 2014
        %a(href = url_for(current_page(), array('current-language' => 'en')))
          English
        %a(href = url_for(current_page(), array('current-language' => 'pl')))
          Polski
