!!!
%html
  %head
    %meta(charset = "utf-8")
    %title
      Blog
    %meta(content = "" name = "description")
    %link(href = "/public/assets/stylesheets/application.css.php" rel = "stylesheet")
    %script(src = "/public/assets/javascripts/application.js.php")
  %body
